@model Task_1.VM.BillingItemVm

<div class="item-entry mb-3 row">
    <div class="col-md-5">
        <select asp-for="ItemId" asp-items="Model.Items" class="form-select item-id" onchange="updateTotal()">
            <option value="">Select Item</option>
        </select>
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <input asp-for="Quntity" class="form-control item-quantity" oninput="updateTotal()" />
        <span asp-validation-for="Quntity" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <span class="item-price">@Model.Price</span>
    </div>
</div>
@section Scripts {
    <script>
 function updatePrice(dropdown) {
            const selectedItem = dropdown.options[dropdown.selectedIndex];
            const price = parseFloat(selectedItem.getAttribute('data-price')) || 0;
            $(dropdown).closest(".item-entry").find(".item-price").text(price.toFixed(2));
            updateTotal();
        }
    </script>
}