@using Task_1.VM
@model List<EmployeeVm>
@{
}
        <tr>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                </td>
                </tr>

        }

    </tbody>

    </table>

<a class="btn btn-success" asp-action="Create">Create New Employee</a>